.profile__info {  
  margin: 0;
  padding: 0;
  margin-right: 244px;
  display: grid;
  grid-template-columns: minmax(min-content, 294px) min-content;
  grid-column-gap: 16px;
  grid-row-gap: 18px;
}

@media screen and (max-width: 767px) {
  .profile__info { 
    grid-template-columns: minmax(min-content, 218px) min-content;
    grid-column-gap: 10px;
    grid-row-gap: 14px;
    text-align: end;
    margin: 0; /*если удалить это свойство, элементы разъезжаются*/
    margin-bottom: 36px;
  }  
}