.footer {
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
  padding: 67px 0 60px;
}

@media screen and (max-width: 767px) {
  .footer {    
    min-width: 282px;
    padding-left: 19px;
    box-sizing: border-box;
  }  
}